<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Slack_Incoming_URL" value=""/>
    <add key="Slack_Outgoing_Token" value=""/>
    <add key="Rcon_IP" value=""/>
    <add key="Rcon_Port" value=""/>
    <add key="Rcon_Password" value=""/>
    <add key="Minecraft_log" value=""/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="MinecraftSlackIntegration.SlackService">
        <endpoint binding="webHttpBinding" contract="MinecraftSlackIntegration.ISlackService"
                  behaviorConfiguration="webHttp"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>